SUPABASE_URL = https://nxgzmipljhofxlggnwtg.supabase.co
SUPABASE_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im54Z3ptaXBsamhvZnhsZ2dud3RnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTI5OTE5NzQsImV4cCI6MjA2ODU2Nzk3NH0.UcrovNY1U_01ViXpKAHFq_YJCwa_iO7xj8LD6uWFC90
